<head>
  <title>Full stack web developer - Arjen Oosterkamp</title>

  <meta content="Arjen Oosterkamp - Full stack web developer" name="description" />
  <meta content="full stack, web developer, ruby, rails, coffeescript, sass, react, github, macbook" name="keywords" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  {% stylesheet application %}
  <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet" type="text/css" />

  <link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
